
body,
html {
  width: 100%;
  height: 100%; 
  overflow: auto; 
}

/*LANDING PART*/
.landing{
  position: relative;
  background-position: center;
  background-image: url("../Images/welcome.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.landing h1,h2{
  color: black;
  font-family: Lobster , Cursive;
}
hr{
  background-color: white;
  width: 50%;
}
.textinlanding{
  text-decoration: none;
}
.landing a{
  color:white;
}

.info{
  font-family: 'Indie Flower', cursive;
  font-size: 40px; 
}
.infoimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.iframeclass{
  margin: 0 auto;
  width: 90%;
  height:50%;
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 4%;
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
  border-radius: 2%;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}
.bodyclass{
  background-image: url("../Images/Nature/2.jpg");
}
.card{
  display: inline-flex;
}
.card{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Allcards{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imagebgcards{
  background-image: url("../Images/Nature/2.jpg"); 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.socialbar{
  text-align: center;
  display:inline;
}
.maincontent{
  background-color: #e6b324;
}
#eventhead{
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
}
#event1,#event2,#event3,#event4,#event5,#event6,#event7,#event8,#event9,#event10,#event11,#event12{
  font-family: 'Gloria Hallelujah', cursive;
}